@import url('../page/__header/page__header.css');
@import url('../page/__footer/page__footer.css');

.page{
  max-width: 1440px;
  margin: 0 auto;
  font-family: 'Inter', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .page{
    max-width: 1024px;
  }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .page{
    max-width: 767px;
  }
}

@media screen and (min-width: 320px) and (max-width: 374px) {
  .page{
    max-width: 374px;
  }
}










