.footer__copyright{
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.4286;
  text-align: right;
  color: #FFFFFF;
  max-width: 282px;
  margin: 0;
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .footer__copyright{
    margin-left: 16px;
    margin-top: 32px;
  }
}

@media screen and (min-width: 320px) and (max-width: 374px) {
  .footer__copyright{
    margin-left: 16px;
    margin-top: 35px;
  }
}

