
 .video__item_theme_kamchatka{
  background-image: url(../../../../images/kamchatka.jpg);  
  background-size: cover;  
  border-radius: 5px;  
  position: relative; 
}  




.video__item_theme_kamchatka:before {
  content: '\A';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: 0.5;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  border-radius: 5px; 
  top:0;
  left:0;
}
.video__item_theme_kamchatka:hover:before {
  opacity: 0.8;
  border-radius: 5px; 
}

@media screen and (min-width: 320px) and (max-width: 374px) {
  .video__item_theme_kamchatka{
    background-image: url(../../../../images/kamchatkaa.jpg);
  }
}
